body {
    background-color: #fcdede
}

header{
    align-self: center;
    align-items: center;
    align-content: center;
    background-color: #fcdede;
    color: #7e2a2a;
    padding: 20px;
    text-align: center;
}

h1 {

    font-style: initial;
    font-variant: small-caps;
    text-align: center;
    color: #970f0f;
    font-size: 50px;

}

a {
    text-align: center;
    font-style: initial ;
    font-variant: small-caps;
    display: block;
    color: #970f0f;
    font-size: 25px;
}

h2{
    text-align: center;
    color: #970f0f;
    font-size: 35px;
}

p {
    text-align: center;
    font-family: verdana;
    font-size: 20px;
    margin-left: 90px;
    text-align: center;
    align-items: center;
    width: 1100px;
    height: 40px;
    border: 2px solid rgb(105, 5, 5);
    border-radius: 5px;  
}

ul {
    text-align: left;
    list-style-type: square;
    font-family: verdana;
    font-size: 20px;
    color: #252525;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

a:hover {
  background-color: #fcdede;
  transform: scale(1.1);
  transition: 0.3s;  
  color: #fc4c4c;
  text-decoration: underline;
}